<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="d-flex mb-4 justify-content-between align-items-center flex-wrap" style="flex-direction: row-reverse;">
                    <div class="card-tabs mt-3 mt-sm-0 mb-xxl-0 mb-4">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="" (click)="fliterList('lodging')" role="tab">اسکان ({{ lodgingRooms.length }})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="" (click)="fliterList('reserved')" role="tab">رزرو شده ({{ reservedRooms.length }})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="" (click)="fliterList('available')" role="tab">در دسترس ({{ availableRooms.length }})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="" (click)="fliterList('all')" role="tab">تمامی اتاق ها ({{ allRooms.length }})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="table-search">	
                        <div class="input-group search-area search-div">
                            <input type="text" class="form-control" placeholder="جستجو...">
                            <span class="input-group-text"><a href="javascript:void(0)"><i
                                class="flaticon-381-search-2"></i></a></span>
                        </div>
                    </div>	
                    <button class="btn btn-primary mb-xxl-0 mb-4"><i class="far fa-file-word me-2"></i>خروجی اکسل</button>
                    <button class="btn btn-primary mb-xxl-0 mb-4" data-bs-toggle="modal" data-bs-target="#addRoomModal"><i class="fa fa-plus me-2"></i>افزودن اتاق</button>
                </div>
                <div class="tab-content">	
                    <div [ngClass]="showAllRooms ? 'tab-pane show active' : 'tab-pane show'" id="all">
                        <div class="table-responsive" style="direction: rtl; text-align: center;">
                            <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg " id="guestTable-all">
                                <thead>
                                    <tr>
                                        <th class="bg-none">
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>نام اتاق</th>
                                        <th>نوع اتاق</th>
                                        <th>طبقه</th>
                                        <th>توضیحات</th>
                                        <th>وضعیت</th>
                                        <th class="bg-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let room of allRooms">
                                        <td>
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <h4 class="mb-0 mt-1"><a [routerLink]="['/room-detail',{id:room.getNumber()}]" class="text-black">{{ room.getNumber() }}</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ room.getType() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ room.getFloor().getNumber() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                
                                                <span class="fs-16">{{ room.getDescription() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="d-block">{{ room.getReservation() ? 'رزرو' : 'موجود'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div [ngClass]="showAvailableRoom ? 'tab-pane show active' : 'tab-pane show'" id="available">
                        <div class="table-responsive" style="direction: rtl; text-align: center;">
                            <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg " id="guestTable-all">
                                <thead>
                                    <tr>
                                        <th class="bg-none">
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>نام اتاق</th>
                                        <th>نوع اتاق</th>
                                        <th>طبقه</th>
                                        <th>توضیحات</th>
                                        <th>وضعیت</th>
                                        <th class="bg-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let room of availableRooms">
                                        <td>
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <h4 class="mb-0 mt-1"><a [routerLink]="['/room-detail',{id:room.getNumber()}]" class="text-black">{{ room.getNumber() }}</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ room.getType() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ room.getFloor().getNumber() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                
                                                <span class="fs-16">{{ room.getDescription() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="d-block">{{ room.getReservation() ? 'رزرو' : 'موجود'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div [ngClass]="showReservedRooms ? 'tab-pane show active' : 'tab-pane show'" id="reserved">
                        <div class="table-responsive" style="direction: rtl; text-align: center;">
                            <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg " id="guestTable-all">
                                <thead>
                                    <tr>
                                        <th class="bg-none">
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>نام اتاق</th>
                                        <th>نوع اتاق</th>
                                        <th>طبقه</th>
                                        <th>توضیحات</th>
                                        <th>وضعیت</th>
                                        <th class="bg-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let room of reservedRooms">
                                        <td>
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <h4 class="mb-0 mt-1"><a [routerLink]="['/room-detail',{id:room.getNumber()}]" class="text-black">{{ room.getNumber() }}</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ room.getType() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ room.getFloor().getNumber() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                
                                                <span class="fs-16">{{ room.getDescription() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="d-block">{{ room.getReservation() ? 'رزرو' : 'موجود'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div [ngClass]="showLodging ? 'tab-pane show active' : 'tab-pane show'" id="lodging">
                        <div class="table-responsive" style="direction: rtl; text-align: center;">
                            <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg " id="guestTable-all">
                                <thead>
                                    <tr>
                                        <th class="bg-none">
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>نام اتاق</th>
                                        <th>نوع اتاق</th>
                                        <th>طبقه</th>
                                        <th>توضیحات</th>
                                        <th>وضعیت</th>
                                        <th class="bg-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let room of lodgingRooms">
                                        <td>
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <h4 class="mb-0 mt-1"><a [routerLink]="['/room-detail',{id:room.getNumber()}]" class="text-black">{{ room.getNumber() }}</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ room.getType() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ room.getFloor().getNumber() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                
                                                <span class="fs-16">{{ room.getDescription() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="d-block">{{ room.getReservation() ? 'رزرو' : 'موجود'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRoomModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="direction: rtl;">
                <h5 class="modal-title">افزودن اتاق</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" class="form-control input-default input-right" id="roomnumber" placeholder="شماره اتاق">
                </div>
                <select class="default-select form-control wide mb-3 input-right" id="floornumber">
                    <option *ngFor="let floor of floors">{{ floor.getNumber() }}</option>
                </select>
                <div class="mb-3">
                    <input type="text" class="form-control input-default input-right" id="roomcost" placeholder="قیمت (ریال)">
                </div>
                <select class="default-select form-control wide mb-3 input-right" id="roomtype">
                    <option *ngFor="let roomType of allRoomTypes" value="{{ roomType.getID() }}">{{ roomType.getTitle() }}</option>
                </select>
                <div class="mb-3">
                    <input type="text" class="form-control input-default input-right" id="roomcapacity" placeholder="ظرفیت">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control input-default input-right" id="roombedtype" placeholder="نوع تخت">
                </div>
                <div class="mb-3">
                    <textarea class="form-control input-right" rows="10" id="roomdescription" placeholder="توضیحات"></textarea>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: start;">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">بستن</button>
                <button (click)="addRoom()" type="button" class="btn btn-primary">ذخیره</button>
            </div>
        </div>
    </div>
</div>