<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="d-flex mb-4 justify-content-between align-items-center flex-wrap" style="flex-direction: row-reverse;">
                    <div class="card-tabs mt-3 mt-sm-0 mb-xxl-0 mb-4">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="" (click)="filterList('CHECKOUT')" role="tab">{{ "traveler-list.checkout" | translate }} ({{ checkoutTraveler.length }})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="" (click)="filterList('RESERVE')" role="tab">{{  "traveler-list.reserve" | translate }} ({{ reservedTraveler.length }})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="" (click)="filterList('LODGING')" role="tab">{{  "traveler-list.lodging" | translate }} ({{ lodgingTraveler.length }})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="" (click)="filterList('all')" role="tab">{{ "traveler-list.all-travelers" | translate }} ({{ allTraveler.length }})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="table-search">	
                        <div class="input-group search-area search-div">
                            <input type="text" class="form-control" placeholder='{{ "traveler-list.search" | translate }}'>
                            <span class="input-group-text"><a href="javascript:void(0)"><i
                                class="flaticon-381-search-2"></i></a></span>
                        </div>
                    </div>	
                    <a href="javascript:void(0);" class="btn btn-primary mb-xxl-0 mb-4"><i class="far fa-file-word me-2"></i>{{ "traveler-list.export-as-excel" | translate }}</a>
                </div>
                <div class="tab-content">	
                    <div [ngClass]="showAllTraveler ? 'tab-pane show active' : 'tab-pane show'" id="all">
                        <div class="table-responsive" style="direction: rtl; text-align: center;">
                            <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg " id="guestTable-all">
                                <thead>
                                    <tr>
                                        <th class="bg-none">
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>{{ "traveler-list.first-name-last-name" | translate }}</th>
                                        <th>{{ "traveler-list.phone-number" | translate }}</th>
                                        <th>{{ "traveler-list.national-code" | translate }}</th>
                                        <th>{{ "traveler-list.residence-status" | translate }}</th>
                                        <th>{{ "traveler-list.traveler-status" | translate }}</th>
                                        <th class="bg-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let traveler of allTraveler">
                                        <td>
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <h4 class="mb-0 mt-1"><a class="text-black" [routerLink]="['/traveler-detail',{id:traveler.getID()}]">{{ traveler.getFirstName() }} {{ traveler.getLastName() }}</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ traveler.getPhoneNumber() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ traveler.getNationalCode() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div [ngSwitch]="traveler.getLodging()">
                                                <span class="fs-16" *ngSwitchCase="'LODGING'">{{ "traveler-list.lodging" | translate }}</span>
                                                <span class="fs-16" *ngSwitchCase="'RESERVE'">{{ "traveler-list.reserve" | translate }}</span>
                                                <span class="fs-16" *ngSwitchCase="'CHECKOUT'">{{ "traveler-list.checkout" | translate }} </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div [ngSwitch]="traveler.getStatus()">
                                                <span class="d-block" *ngSwitchCase="'REPORT'" style="color: red !important;">{{ "traveler-list.report" | translate }}</span>
                                                <span class="d-block" *ngSwitchCase="'NORMAL'">{{ "traveler-list.normal" | translate }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div [ngClass]="shwoLodgingTraveler ? 'tab-pane show active' : 'tab-pane show'" id="lodging">
                        <div class="table-responsive" style="direction: rtl; text-align: center;">
                            <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg " id="guestTable-all">
                                <thead>
                                    <tr>
                                        <th class="bg-none">
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>{{ "traveler-list.first-name-last-name" | translate }}</th>
                                        <th>{{ "traveler-list.phone-number" | translate }}</th>
                                        <th>{{ "traveler-list.national-code" | translate }}</th>
                                        <th>{{ "traveler-list.residence-status" | translate }}</th>
                                        <th>{{ "traveler-list.traveler-status" | translate }}</th>
                                        <th class="bg-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let traveler of lodgingTraveler">
                                        <td>
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <h4 class="mb-0 mt-1"><a class="text-black" [routerLink]="['/traveler-detail',{id:traveler.getID()}]">{{ traveler.getFirstName() }} {{ traveler.getLastName() }}</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ traveler.getPhoneNumber() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ traveler.getNationalCode() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div [ngSwitch]="traveler.getLodging()">
                                                <span class="fs-16" *ngSwitchCase="'LODGING'">{{ "traveler-list.lodging" | translate }}</span>
                                                <span class="fs-16" *ngSwitchCase="'RESERVE'">{{ "traveler-list.reserve" | translate }}</span>
                                                <span class="fs-16" *ngSwitchCase="'CHECKOUT'">{{ "traveler-list.checkout" | translate }} </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div [ngSwitch]="traveler.getStatus()">
                                                <span class="d-block" *ngSwitchCase="'REPORT'" style="color: red !important;">{{ "traveler-list.report" | translate }}</span>
                                                <span class="d-block" *ngSwitchCase="'NORMAL'">{{ "traveler-list.normal" | translate }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div [ngClass]="showReservedTraveler ? 'tab-pane show active' : 'tab-pane show'" id="reserved">
                        <div class="table-responsive" style="direction: rtl; text-align: center;">
                            <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg " id="guestTable-all">
                                <thead>
                                    <tr>
                                        <th class="bg-none">
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>{{ "traveler-list.first-name-last-name" | translate }}</th>
                                        <th>{{ "traveler-list.phone-number" | translate }}</th>
                                        <th>{{ "traveler-list.national-code" | translate }}</th>
                                        <th>{{ "traveler-list.residence-status" | translate }}</th>
                                        <th>{{ "traveler-list.traveler-status" | translate }}</th>
                                        <th class="bg-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let traveler of reservedTraveler">
                                        <td>
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <h4 class="mb-0 mt-1"><a class="text-black" [routerLink]="['/traveler-detail',{id:traveler.getID()}]">{{ traveler.getFirstName() }} {{ traveler.getLastName() }}</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ traveler.getPhoneNumber() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ traveler.getNationalCode() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                
                                                <span class="fs-16" [ngStyle]="{'color':'red'}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="d-block"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div [ngClass]="showCheckoutTraveler ? 'tab-pane show active' : 'tab-pane show'" id="lodging">
                        <div class="table-responsive" style="direction: rtl; text-align: center;">
                            <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg " id="guestTable-all">
                                <thead>
                                    <tr>
                                        <th class="bg-none">
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>{{ "traveler-list.first-name-last-name" | translate }}</th>
                                        <th>{{ "traveler-list.phone-number" | translate }}</th>
                                        <th>{{ "traveler-list.national-code" | translate }}</th>
                                        <th>{{ "traveler-list.residence-status" | translate }}</th>
                                        <th>{{ "traveler-list.traveler-status" | translate }}</th>
                                        <th class="bg-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let traveler of checkoutTraveler">
                                        <td>
                                            <div class="form-check style-1">
                                              <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    <h4 class="mb-0 mt-1"><a class="text-black" [routerLink]="['/traveler-detail',{id:traveler.getID()}]">{{ traveler.getFirstName() }} {{ traveler.getLastName() }}</a></h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ traveler.getPhoneNumber() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="fs-16">{{ traveler.getNationalCode() }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div [ngSwitch]="traveler.getLodging()">
                                                <span class="fs-16" *ngSwitchCase="'LODGING'">{{ "traveler-list.lodging" | translate }}</span>
                                                <span class="fs-16" *ngSwitchCase="'RESERVE'">{{ "traveler-list.reserve" | translate }}</span>
                                                <span class="fs-16" *ngSwitchCase="'CHECKOUT'">{{ "traveler-list.checkout" | translate }} </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div [ngSwitch]="traveler.getStatus()">
                                                <span class="d-block" *ngSwitchCase="'REPORT'" style="color: red !important;">{{ "traveler-list.report" | translate }}</span>
                                                <span class="d-block" *ngSwitchCase="'NORMAL'">{{ "traveler-list.normal" | translate }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>