<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-xxl-8">
                <div *ngIf="hasCurrentResidence" class="card current-room-card" id="currentRoomDiv">	
                    <div class="background current-room-subcard">
                        <div class="card-header border-0 pb-0">
                            <h4 class="card-title">{{ "traveler-detail.current-residence" | translate }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex mt-4 flex-wrap">
                                <h4 class="card-title me-auto">{{ "traveler-detail.room-number" | translate }}: {{ currentResidenceRoom.getNumber() }}</h4>
                                <h5 class="card-title">{{ currentResidenceRoom.getDescription() }}</h5>
                            </div>
                        </div>
                        <div class="card-body room-card">
                            <div class="d-flex align-items-center ms-5 ps-4 mb-xxl-0 mb-2" style="flex-direction: row-reverse;">
                                <span class="key-icon ms-3">
                                    <svg width="32" height="16" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1585 6.41671C16.8932 2.80354 20.0899 0.0833735 23.9168 0.0833737C28.2868 0.0833739 31.8335 3.63004 31.8335 8.00004C31.8335 12.3685 28.2868 15.9167 23.9168 15.9167C20.0899 15.9167 16.8932 13.195 16.1585 9.58337L9.66683 9.58337L9.66683 12.75C9.66683 13.6225 8.9575 14.3334 8.0835 14.3334C7.2095 14.3334 6.50016 13.6225 6.50016 12.75L6.50016 9.58337L3.3335 9.58337L3.3335 12.75C3.3335 13.6225 2.62416 14.3334 1.75016 14.3334C0.876161 14.3334 0.166828 13.6225 0.166828 12.75L0.166828 8.00004C0.166828 7.12446 0.876162 6.41671 1.75016 6.41671L16.1585 6.41671ZM28.6668 8.00004C28.6668 10.6205 26.5388 12.75 23.9168 12.75C21.2948 12.75 19.1668 10.6205 19.1668 8.00004C19.1668 5.37804 21.2948 3.25004 23.9168 3.25004C26.5388 3.25004 28.6668 5.37804 28.6668 8.00004Z" fill="white"/>
                                    </svg>
                                </span>
                                <div>
                                    <h5 class="text-primary" style="direction: rtl;">{{ "traveler-detail.residence-number" | translate }}: {{ currentResidence.getCode() }}</h5>
                                    <h4 class="card-title mb-0" style="direction: rtl;">{{  currentResidenceRoom.getType() }}</h4>
                                </div>
                            </div>
                            <div class="d-sm-flex d-block align-items-center">
                                <div class="me-5 mb-sm-0 mb-3">
                                    <p class="mb-2" style="direction: rtl;"><i class="far fa-user scale3 ms-3"></i>{{ "traveler-detail.room-capacity" | translate }}</p>
                                    <h4 class="mb-0 card-title" style="direction: rtl;">{{ currentResidenceRoom.getCapacity() }} {{ "traveler-detail.person" | translate }}</h4>
                                </div>
                                <div class="me-5 mb-sm-0 mb-3">
                                    <p class="mb-2" style="direction: rtl;"><i class="fas fa-bed scale3 ms-3"></i>{{  "traveler-detail.bed-type" | translate }}</p>
                                    <h4 class="mb-0 card-title" style="direction: rtl;">{{ currentResidenceRoom.getBedType() }}</h4>
                                </div>
                                <div>
                                    <p class="mb-2" style="direction: rtl;"><i class="far fa-calendar-minus scale3 ms-3"></i>{{ "traveler-detail.date" | translate }}</p>
                                    <h4 class="mb-0 card-title" style="direction: rtl;">{{ toPersianCalendar(currentResidence.getStartDateAndTime()) }} - {{ toPersianCalendar(currentResidence.getEndDateAndTime()) }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-4">
                <div class="card profile-card">
                    <div class="card-body">
                        <div class="flex-class">
                            <div class="vertical-items">
                                <h4 class="mb-0">{{ traveler.getFirstName() }} {{ traveler.getLastName() }}</h4>
                                <h5 class="text-primary">{{ traveler.getNationalCode() }}</h5>
                            </div>
                            <img src="../../assets/images/avatar/1.jpg" alt="" class="rounded profile-img me-4">
                        </div>
                        <div class="row mt-4 pt-3">
                            <div class="col-12">
                                <button type="button" class="btn btn-dark light btn-block" data-bs-toggle="modal" data-bs-target="#changeTravelerStatus">{{ "traveler-detail.change-status" | translate }}</button>
                            </div>
                        </div>
                        <ul class="user-info-list">
                            <li class="traveler-info">
                                <span class="traveler-param">{{ traveler.getPhoneNumber() }}</span>
                                <i class="fas fa-phone-volume"></i>
                            </li>
                            <li class="traveler-info">
                                <span class="traveler-param">{{ traveler.getOriginCountrey() }} - {{  traveler.getOriginCity() }}</span>
                                <i class="fas fa-map-marker-alt"></i>
                            </li>
                            <li class="traveler-info">
                                <span class="traveler-param">{{ getStatusDefinition(traveler.getStatus()) }}</span>
                                <i class="fas fa-info"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive" style="direction: rtl; text-align: center;">
                <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg">
                    <thead>
                        <tr>
                            <th>{{ "traveler-detail.code" | translate }}</th>
                            <th>{{ "traveler-detail.entrance-date" | translate }}</th>
                            <th>{{ "traveler-detail.exit-date" | translate }}</th>
                            <th>{{ "traveler-detail.room-number" | translate }}</th>
                            <th>{{ "traveler-detail.status" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let residence of residences">
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ residence.getCode() }}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ toPersianCalendar(residence.getStartDateAndTime()) }}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ toPersianCalendar(residence.getEndDateAndTime()) }}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ residence.getRooms()[0].getNumber() }}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ getResidenceDefinition(residence.getStatus()) }}</a></h4>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changeTravelerStatus">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="direction: rtl;">
                <h5 class="modal-title">{{ "traveler-detail.traveler-change-status" | translate }}</h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-4 light nav-pills-custom">
                    <li class=" nav-item">
                        <a href="" (click)="changeCurrentTravelerStatus('NORMAL')" id="normalPill" class="nav-link" data-bs-toggle="tab" aria-expanded="false">{{ "traveler-detail.normal" | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="" (click)="changeCurrentTravelerStatus('REPORT')" id="reportPill" class="nav-link" data-bs-toggle="tab" aria-expanded="false">{{ "traveler-detail.report" | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer" style="justify-content: start;">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">{{ "general.close" | translate }}</button>
                <button type="button" class="btn btn-primary" (click)="submitTravelerStatus()">{{ "general.submit" | translate }}</button>
            </div>
        </div>
    </div>
</div>