<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li [routerLink]="['/dashboard']">
                <a class="has-arrow ai-icon sidebar-link" [routerLinkActive]="['active-nav']">
                    <i class="flaticon-025-dashboard"></i>
                    <span class="nav-text">داشبورد</span>
                </a>
            </li>
            <li [routerLink]="['/rooms']">
                <a class="has-arrow ai-icon sidebar-link" [routerLinkActive]="['active-nav']">
                    <i class="flaticon-013-checkmark"></i>
                    <span class="nav-text-sidebar nav-text">اتاق ها</span>
                </a>
            </li>
            <li [routerLink]="['/travelers']">
                <a class="has-arrow ai-icon sidebar-link" [routerLinkActive]="['active-nav']">
                    <i class="flaticon-381-user-8"></i>
                    <span class="nav-text-sidebar nav-text">مسافران</span>
                </a>
            </li>
            <li [routerLink]="['/financial-bills']">
                <a class="has-arrow ai-icon sidebar-link" [routerLinkActive]="['active-nav']">
                    <i class="flaticon-381-id-card"></i>
                    <span class="nav-text-sidebar nav-text">امور مالی</span>
                </a>
            </li>
            <li [routerLink]="['/cameras']">
                <a class="has-arrow ai-icon sidebar-link" [routerLinkActive]="['active-nav']">
                    <i class="flaticon-381-video-camera"></i>
                    <span class="nav-text-sidebar nav-text">دوربین ها</span>
                </a>
            </li>
            <li [routerLink]="['/food']">
                <a class="has-arrow ai-icon sidebar-link" [routerLinkActive]="['active-nav']" >
                    <i class="flaticon-381-food"></i>
                    <span class="nav-text-sidebar nav-text">غذاخوری</span>
                </a>
            </li>
        </ul>
        <div class="copyright">
            <p class="fs-12"> ساخته شده با <span class="heart"></span>در بهبود ارتباط چهلستون </p>
        </div>
    </div>
</div>