<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <i class="flaticon-025-dashboard"></i>
                    <span class="nav-text">داشبورد</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="" routerLink="/rooms" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <i class="flaticon-013-checkmark"></i>
                    <span class="nav-text">اتاق ها</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="has-arrow ai-icon" href="" routerLink="/room" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <i class="flaticon-381-user-8"></i>
                    <span class="nav-text">مسافران</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="has-arrow ai-icon" href="" routerLink="/room" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                    <i class="flaticon-381-id-card"></i>
                    <span class="nav-text">امور مالی</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="has-arrow ai-icon" href="" routerLink="/room" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                    <i class="flaticon-381-video-camera"></i>
                    <span class="nav-text">دوربین ها</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="has-arrow ai-icon" href="" routerLink="/room" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                    <i class="flaticon-381-video-camera"></i>
                    <span class="nav-text">رستوران ها</span>
                </a>
            </li>
        </ul>
        <div class="copyright">
            <p class="fs-12"> ساخته شده با <span class="heart"></span>در بهبود ارتباط چهلستون </p>
        </div>
    </div>
</div>