<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row detail-item-row">
                            <div class="col-sm-6">
                                <div class="detail-item">
                                    <span>قیمت اتاق: </span>
                                    <span>{{ room.getCost() }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="detail-item">
                                    <span>وضعیت اتاق: </span>
                                    <span [ngClass]="room.getReservation() ? 'available-item' : ''">{{ reservationStatus }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row detail-item-row">
                            <div class="col-sm-6">
                                <div class="detail-item">
                                    <span>شماره اتاق: </span>
                                    <span>{{ room.getNumber() }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="detail-item">
                                    <span>شماره طبقه: </span>
                                    <span>{{ room.getFloor().getNumber() }}</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>