<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card current-room-card" id="roomDiv">
                    <div class="current-room-subcard">
                        <div class="card-body">
                            <div class="d-flex mt-4 flex-wrap">
                                <h4 class="card-title me-auto">شماره اتاق: {{ room.getNumber() }}</h4>
                                <h5 class="card-title">{{ room.getDescription() }}</h5>
                            </div>
                        </div>
                        <div class="card-body room-card">
                            <div class="d-sm-flex d-block align-items-center">
                                <div class="me-5 mb-sm-0 mb-3">
                                    <p class="mb-2" style="direction: rtl;"><i class="far fa-user scale3 ms-3"></i>ظرفیت اتاق</p>
                                    <h4 class="mb-0 card-title" style="direction: rtl;">{{ room.getCapacity() }} نفر</h4>
                                </div>
                                <div class="me-5 mb-sm-0 mb-3">
                                    <p class="mb-2" style="direction: rtl;"><i class="fas fa-bed scale3 ms-3"></i>نوع تخت</p>
                                    <h4 class="mb-0 card-title" style="direction: rtl;">{{ room.getBedType() }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="loaded">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row detail-item-row">
                            <div class="col-sm-6">
                                <div class="detail-item">
                                    <span>قیمت اتاق: </span>
                                    <span>{{ room.getCost() }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="detail-item">
                                    <span>وضعیت اتاق: </span>
                                    <span [ngClass]="room.getReservation() ? 'available-item' : ''">{{ reservationStatus }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row detail-item-row">
                            <div class="col-sm-6">
                                <div class="detail-item">
                                    <span>شماره اتاق: </span>
                                    <span>{{ room.getNumber() }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="detail-item">
                                    <span>شماره طبقه: </span>
                                    <span>{{ room.getFloor().getNumber() }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="loaded">
            <div class="card">
                <div class="card-header border-0" style="text-align: center;">
                    <div class="col-xl-3 col-xxl-3">
                        <img src="../../assets/images/card.png" alt="" class="deactivate-option" style="width: 20%; height: 100%;">
                        <p>کارتخوان</p>
                    </div>
                    <div class="col-xl-3 col-xxl-3">
                        <img src="../../assets/images/wifi.png" alt="" class="deactivate-option" style="width: 20%; height: 100%;">
                        <p>اینترنت</p>
                    </div>
                    <div class="col-xl-3 col-xxl-3">
                        <img src="../../assets/images/lightning.png" class="deactivate-option" alt="" style="width: 20%; height: 100%;">
                        <p>روشنایی</p>
                    </div>
                    <div class="col-xl-3 col-xxl-3">
                        <img src="../../assets/images/thermostat.png" class="deactivate-option" alt="" style="width: 20%; height: 100%;">
                        <p>ترموستات</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="loaded">
            <div class="table-responsive" style="direction: rtl; text-align: center;">
                <table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg">
                    <thead>
                        <tr>
                            <th>شناسه</th>
                            <th>تاریخ ورود</th>
                            <th>تاریخ خروج</th>
                            <th>شماره اتاق</th>
                            <th>وضعیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let residence of residences">
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ residence.getCode() }}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ toPersianCalendar(residence.getStartDateAndTime()) }}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ toPersianCalendar(residence.getEndDateAndTime()) }}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ residence.getRooms()[0].getNumber() }}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div>
                                        <h4 class="mb-0 mt-1"><a class="text-black" >{{ getResidenceDefinition(residence.getStatus()) }}</a></h4>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>